package ${parentPack}.vo;

import ${parentPack}.entity.${tableInfo.javaTableName};
import lombok.Data;

import java.io.Serializable;

@Data
public class ${tableInfo.javaTableName}Vo extends ${tableInfo.javaTableName} implements Serializable  {

    private static final long serialVersionUID = 1L;


}